.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 4rem auto 6rem auto;
    gap: 4rem;
}

.text {
    flex: 1;
    max-width: 600px;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    font-style: italic;
    color: antiquewhite;
}

.description {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #94a3b8;
    font-style: italic;
    margin-bottom: 2rem;
}

.image {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
}

.profileImage {
    border-radius: 2rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.5);
    transform: rotate(3deg);
    transition: transform 0.3s ease;
}

.profileImage:hover {
    transform: rotate(0deg) scale(1.05);
}