:root {
  --background: #ffffff;
  --foreground: #171717;
  --waline-theme-color: #ff7eb9 !important;
  --waline-active-color: #ffb7c5 !important;
  --waline-badge-color: #ff7eb9 !important;
  --waline-border-radius: 16px !important;
  --waline-box-shadow: none !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* 定义彩虹渐变动画 */
@keyframes rainbow-text-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* 定义彩虹渐变类 */
.rainbow-text {
  background: linear-gradient(
    90deg,
    #ff0000,
    #ffa500,
    #ffff00,
    #008000,
    #ee82ee
  );
  background-size: 400% 400%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: rainbow-text-animation 10s linear infinite alternate;
  font-size: 3rem;
  font-style: italic;
  font-weight: bold;
}

.wl-editor, .wl-input {
  border: 2px solid #f0f0f0 !important;
}

.wl-editor:focus, .wl-input:focus {
  border-color: #ffb7c5 !important;
}

.wl-power {
  display: none;
}

.wl-action i {
  color: #ff7eb9;
}