.masonry-card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 240px;
    overflow: hidden;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    border: 1px solid lightsalmon;
}

.masonry-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3);
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-style: italic;
}

.content {
    font-size: 1.1rem;
    font-style: italic;
    margin-bottom: 1rem;
}

.span-2-col {
    grid-column: span 2;
}

.span-2-row {
    grid-row: span 2;
}

@media (max-width: 768px) {
    .span-2-col {
        grid-column: span 1;
    }
    .span-2-row {
        grid-row: span 1;
    }
}